<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="userController" class="com.hcl.controller.UserController"
		autowire="byName" />

	<bean id="us" class="com.hcl.service.UserService" />

	<bean id="us1" class="com.hcl.service.UserService" />

	<bean id="departmentService" class="com.hcl.service.DepartmentService" />

	<bean id="userDao" class="com.hcl.dao.UserDao" />

	<bean id="employeeController" class="com.hcl.controller.EmployeeController"	autowire="constructor" />

</beans>